img{
    height: 200px;
    width: 200px;
}

#div_carousel{
    background-color: darkcyan;
}

#div_carousel img{
    height: 400px;
    width: 400px;
}

#h2{
    font-weight: bolder;
}